.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 1.5rem 2rem;
  width: 100%;
}

.detail-container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 3rem;

}

.question-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.question-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222222;
}

.tag {
  display: inline-block;
  background-color: #f2f9fb;
  color: #00796bc3;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  font-weight: 600;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.ai-feedback {
  background-color: #f4f6f1;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: #333;
  min-height: 200px;
}

.coverletter-card {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 2rem; /* 카드 간 간격 */
  border-radius: 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border: 1px solid #e0e0e0; /* 카드 경계 시각화 */
  transition: all 0.3s ease-in-out;
}


.company-position {
  display: inline-block;
  background-color: #001eff24;
  color: #4771cced;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.ai-feedback p,
.original-answer p {
  text-align: left;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: #5098e0;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  margin-top: 1rem;
  align-self: flex-start;
  transition: color 0.2s ease;
}

.toggle-btn:hover {
  text-decoration: underline;
  color: #0d47a1;
  background-color: white;
}


.original-answer {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 1rem;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  width: 100%;
  max-width: 100%;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.delete-btn {
  display: inline-block;
  background-color: #fbe9e9;
  color: #ff4141c3;
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  font-weight: 600;
  
}

.delete-btn:hover {
  background-color: #ff4141c3; 
  color: white;               
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}