/* Dashboard.css */
.dashboard-container {
  max-width: 960px;
  margin: 100px auto;
  text-align: center;
  font-family: 'Pretendard', sans-serif;
}

.greeting {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.welcome {
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
}


.create-button {
  background: linear-gradient(to right, #8758f1, #9678da);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 20px;
  float: right;
  transition: all 0.3s ease-in-out;
}

.create-button:hover {
  background: linear-gradient(to right, #8758f1, #a520c6);
  box-shadow: 0px 4px 15px rgba(255, 117, 140, 0.5);
}


.no-jobs {
  margin: 40px 100px;

}

.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  color: black;
}

.job-table th,
.job-table td {
  padding: 14px 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.job-table th {
  color: #000000;
  font-weight: 600;
}

.status {
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

.status.editing {
  background-color: #e0f7fa;
  color: #007b8f;
}

.status.submitted {
  background-color: #e0f2e9;
  color: #388e3c;
}

.see-more {
  margin-top: 15px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease; 
}

.see-more:hover {
  color: #1a73e8; 
  font-weight: 600;
  transform: scale(1.05);
  text-decoration: underline;
}
